/* prelim css just for testing js logic */

td {
    padding: 7px;
    text-align: center;
    min-width: 35px;
    max-width: 45px;
    border: 2px solid blue;
}

.seedCount {
    color:red;
}

.lastTurnAdd {
    color:blue;
}

/*


ASK IF FLEX BOX CAN START IN THE CENTER AND DO THE COUNTER CLOCKWISE MOTION


*/

body{
    background-color: blueviolet;
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:75%
}

header{
    background-color: rgba(255,255,255,0.5);
    margin-left:auto;
}

header, section{
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    text-align: center;
    min-width:51%;
    max-width:800px;
    flex-shrink:0;
}

#gameBoard{
    width:75%;
    max-width: 4800px;
    max-height: 10%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div {
    border: 1px solid white;
    background: lime;
    /**/
}

.store{
    height:100%;
    width:14%;
}

.well{
    width:12%;
    height:39%;
}

.btnContainer{
    height:20%;
}