/* prelim css just for testing js logic */

td {
    padding: 7px;
    text-align: center;
    min-width: 35px;
    max-width: 45px;
    border: 2px solid blue;
}

.seedCount {
    color:red;
}

.lastTurnAdd {
    color:blue;
}

/*


ASK IF FLEX BOX CAN START IN THE CENTER AND DO THE COUNTER CLOCKWISE MOTION


*/

body{
    background-color: blueviolet;
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:75%;
    min-width:800px;
    max-width: 1000px;
    gap: 15px;
}

header{
    background-color: rgba(255,255,255,0.5);
}

header, section{
    display:flex;
    flex-direction:column;
    /* justify-content: flex-start; */
    text-align: center;
    min-width:51%;
    max-width:60%;
    border:1px solid blue;
}

#gameBoard{
    min-width:75%;
    max-width: 100%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: space-between;
}

div {
    border: 1px solid white;
    background: lime;
}

.gameBoardCol{
    display:flex;
    flex-direction: column;
    min-height: 90%;
    width: 12%;
    align-content: stretch;
}

.well, .store, .btnContainer{
    display:flex;
    align-items: center;
}

.store{
    flex-grow:5;
    flex-shrink:5;
}

.well{
    flex-grow:2;
    flex-shrink:2;
}

.btnContainer{
    flex-grow:1;
    flex-shrink:1;
}

h1, h4, h2{
    margin: 9px;
}

