/* prelim css just for testing js logic */

td {
    padding: 7px;
    text-align: center;
    min-width: 35px;
    max-width: 45px;
    border: 2px solid blue;
}

.seedCount {
    color:red;
}

.lastTurnAdd {
    color:blue;
}

/*


ASK IF FLEX BOX CAN START IN THE CENTER AND DO THE COUNTER CLOCKWISE MOTION


*/


body{
    font-family: Noto Sans, sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-image: url('https://i.imgur.com/rW6G1l0.jpeg');
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:85%;
    min-width:800px;
    max-width: 1000px;
    gap: 15px;
}

header, section{
    background-color: rgba(2,7,93,0.7);
    border: 4px solid #d4a200;
    color:#ffffff;
    box-shadow: 0px 10px 6px grey;
    display:flex;
    flex-direction:column;
    text-align: center;
    width:60%;
    margin:5px;
}

header{
    border-radius: 175px;
    align-content: center;
    padding:3px;
}

h1{
    font-family: Merienda, sans-serif;
    margin: 15px 0 0 0;
    padding-bottom: 5px;
    border-bottom:2px solid #d4a200;
    letter-spacing: 0.2em;
    font-size: 45px;
}

h2 {
    border-bottom:2px solid #d4a200;
    width: 100%;
    margin: 10px 0 0 0;
    padding-bottom: 3px;
    font-size: 30px;
}

h4{
    margin: 9px 0; /*10px 0;*/
    font-weight:200;
    font-style:italic;
}

#howTo{
    border-radius: 30px;
}

#howToDeetsContainer{
    padding:15px 30px;
}

#stepByStep {
    text-align:left;
    display:none;
}

.subHead{
    margin: 10px 0 5px 0;
    padding-left: 15px;
    text-decoration:underline;
    text-decoration-color:#d4a200;
}

ol, ul{
    margin-top:3px;
    padding:0 27px 0 30px;
}

ul li::marker, ol li::marker{
    color:#d4a200;
}

#infoBoard{
    border-radius: 35px;
}

#infoDeetsContainer{
    margin: 15px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    min-height:300px;
}

#genInfo{
    align-self:flex-start;
}

#gameplayMsg{
    background-image: url('https://i.imgur.com/7rGRHQA.jpeg');
    opacity: 0.8;
    color:black;
    font-weight: 500;
    padding-top:5px;
    border: 5px inset rgba(101, 101, 101, 0.75);
    border-radius: 10px 35px;
    min-height:125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#gameStartBtn{
    margin: 12px 0;
}

#gameBoard{
    background-color: rgba(2,7,93,0.7);
    min-width:75%;
    max-width: 100%;
    min-height: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boardContainer{
    display: flex;
    flex-direction:row;
    background-image: url('https://i.imgur.com/7rGRHQA.jpeg');
    align-content: space-between;
    padding: 25px 10px;
    height: 355px;
}

.gameBoardCol{
    display:flex;
    flex-direction: column;
    width: 12.5%;
    align-content: stretch;
    align-items: space-between;
}

.well, .store, .btnContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.store, .well{
    background-color: rgba(52, 52, 52, 0.239);
    background-image: url('https://i.imgur.com/YciJ1OZ.jpeg');
    background-image: url('https://i.imgur.com/wnTuT0K.jpeg');
    background-position: center;
    margin: 5px;
    border-radius: 25px;
    /* border: 15px ridged rgba(255, 255, 255, 0.9); */
    box-shadow: 0px 7px 6px grey;
}

.store{
    flex:11;
}

.well{
    flex:4;
}

.btnContainer{
    flex:2;
}

img.pieces{
    width: 30%;
}

.plyBtn{
    font-size: 50px;
}

/*

ICONS FOR BUTTONS

*/

#gameStartBtn {
    background-color: transparent;
    background-image: url('https://i.imgur.com/p76GLrO.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
    border: none;
}

.noone{
    background-color: transparent;
    background-image: url('https://i.imgur.com/1NQnsAT.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    border: none;
}

.playerA{
    background-color: transparent;
    background-image: url('https://i.imgur.com/10PoxWm.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    border: none;
    transform: rotate(180deg);
}

.playerB{
    background-color: transparent;
    background-image: url('https://i.imgur.com/10PoxWm.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    border: none;
    filter: grayscale(100%);
}